<h2>@ViewBag.Titulo</h2>
<hr />

<h3>@ViewBag.Message</h3>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<address>
    <span class="fa fa-envelope"></span>&nbsp;<a href="mailto:ricardo.rinco@hotmail.com" target="_top">ricardo.rinco@hotmail.com</a><br />
    <span class="fa fa-github"></span>&nbsp;<a href="https://github.com/ricardorinco">https://github.com/ricardorinco</a><br />
    <span class="fa fa-linkedin"></span>&nbsp;<a href="https://www.linkedin.com/in/ricardorinco">https://www.linkedin.com/in/ricardorinco</a><br />
</address>