@model IEnumerable<RR.PedidoVendas.Application.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>Pedido de Vendas</h1>
    <p class="lead">Desenvolvimento ASP .NET MVC.</p>
    @Html.ActionLink("Criar Novo Pedido", "Adicionar", "Pedido", null, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Últimos Produtos</h2>
        @foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item.Descricao)
            <br />
        }
    </div>
    <div class="col-md-4">
        <h2>Tecnologias</h2>
        <p>ASP.NET MVC 5 | Domain-Driven Design (DDD) | Test Driven Development (TDD) | Entity Framework | AutoMapper | Inversion of Control (IoC) | Dependency Injection (DI) | RhinoMock.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>