<h2>@ViewBag.Titulo</h2>
<hr />
<p>
    Profissional formado com Honra ao Mérito em Sistemas de Informação. Atuação em atividades voltadas ao desenvolvimento de softwares utilizando .NET Framework e Visual Studio.
    <br />
    <br />
    › Experiência nas tecnologias: C#, VB.Net, Windows Forms, ASP.NET (Web Forms e MVC), Web Services, WebAPI, ADO.NET, LINQ, Entity Framework, NHibernate, ReportViewer, Crystal Reports, SQL Server, Oracle e MySQL.
    <br />
    <br />
    › Desenvolvimento e manutenção de aplicações multicamadas empregando padrões de projetos, conceitos de Orientação a Objetos (SOLID e Design Patterns), boas práticas de implementação de Arquitetura de Software, conhecimento dos conceitos de Domain-Driven Design (DDD) e Test Driven Development (TDD).
    <br />
    <br />
    › Levantamento de requisitos de sistemas e elaboração de especificações funcionais.
    <br />
    <br />
    › Modelagem de sistemas utilizando diagramas de Entidade-Relacionamento (DER) e notação UML (casos de uso, diagramas de classes e sequência).
    <br />
    <br />
    › Conhecimento em desenvolvimento de aplicações para dispositivos móveis, utilizando Android SDK, Xamarin e SQLite. 
</p>
